.sobrepor{
    z-index: 1;
   margin-top: 11%;
   margin-left: 45%;
   color: white;
   background-color:  #15171d;
   padding:2rem;
   width: 10%;
   border-radius: 1.5rem;
   text-align: center;
}

.contador{
    font-size: medium;
    
}

.piece{
    cursor: pointer;

}
.fa-undo{
    left: 20px;
    top: 20px;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    z-index: 1;
    position: absolute;
  }