
.parent{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .parent2{
    display: flex;
    align-items:center;
    justify-content:right;
    margin-right: 2rem;
    color: aliceblue;
    font-size: 1.2rem;
    margin-top: -7rem;
  }
  
  
  .params {
  margin:auto;
  background-color: #a15538;
  color:aliceblue;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family: 'Audiowide';
  }

  .objective{
    margin-top: 10rem;
    margin-right: 5rem;
    text-align: center;
    font-family: 'Audiowide';
    color: aliceblue;
  }

  .legenda{
    border-radius: 1rem;
    font-family: 'Audiowide';
    background-color: #a15538;
    color: aliceblue;

  }

  .legenda p{
    margin:0.8rem;
  }

  .menuButtons{
    height: 3rem;
    width: 10rem;
    margin-left: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    background: linear-gradient(to right,#dd6e42,#e8dab2);
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 2.3vmin;
    font-family: 'Audiowide';
    color:black;
  }
  
  
  .menuButtons{
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  border-radius: 0.4rem;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  
  .menuButtons:after{
  content: "";
  background: linear-gradient(to right,#e8dab2, #dd6e42);
  border-radius: 0.2rem;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 2px;
  left: 2px;
  transition: 0.2s;
  }
  
  .menuButtons:hover:after{
  top: 0px;
  left: 0px;
  }
  
  @media (min-width: 768px) {
  .menuButtons{
    padding: 7px 25px 7px;
    border-radius: 0.4rem;
  }
  }

 





.option{
    font-size: 1.5rem;
}
