<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"   href="/css/Temas_style.css">
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
    <title>MuzzPuzzle</title>
</head>
<html>
    <script>
        var subjectObject = {
            "Rap": ["Drake","Lil Tjay","Kid laroi","Speed"],
            "Pop": ["Rihana","Coldplay","One Direction","Maroon 5"],
            "Rock":["Metalica", "MGK"],
            "Jazz":["Miles Davis", "Louis Amstrong","Frank Sinatra"]
        }
        window.onload = function() {
            var subjectSel = document.getElementById("subject");
            var topicSel = document.getElementById("topic");
            for (var x in subjectObject) {
                subjectSel.options[subjectSel.options.length] = new Option(x, x);
            }
            subjectSel.onchange = function() {
                //empty Chapters- and Topics- dropdowns
                topicSel.length = 1;
                //display correct values
                z=subjectObject[this.value];
                for (var i in z) {
                    topicSel.options[topicSel.options.length] = new Option(z[i], z[i]);
                }
            }
 
        }
    </script>

    
    <body class="body">
        <h1>MuzzPuzz</h1>
        <div style="text-align:center">
            <div style="display:inline-block; text-align:left">
                <h2>Dificuldade : <%= dif %></h1>
                <h2>Número de Peças : <%= numPecas %></h1>
            </div>
        </div>
            
        <form action="/temas" method="post">
            <label for="music">Estilo de Música: </label>
            <select name="tipo" id="subject">
                <option value="" selected="selected" required>Selecione um estilo musical.</option>
            </select>
        
            <div class="chooseArtist">
                <label for="pet-select">Escolha um Artista: </label>
                <select name="music" id="topic">
                    <option value="" selected="selected" required>Por favor, selecione um estilo musical primeiro.</option>
                </select>
            </div>
            <button class="menuButtons" type="submit"> Jogar </button>

        <div class="cross">
            <i class="fas fa-times" onclick="location.href='http://localhost:8080/pecas' "></i>
        </div>
        </form> 
    
    </body>
</html>